<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <% data.forEach(function(item) { %>
<p><a href='http://localhost:3000/news/<%= item.idNews %>'><%= item.titleNews %></a>
    <p>
        <%= item.descriptionNews %>
    </p>    
    <% }); %>
</body>
</html>